<h2>Friends</h2>

<p>Having friends allow you to see their private playlists and share yours.</p>

<%= link_to 'Add a Friend', friends_add_path %>

<table>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= link_to 'Remove', '/friends/remove/' + String(user.id) %></td>
		</tr>
	<% end %>
</table>

<h2>Invites</h2>
<table>
	<% @invites.each do |invite| %>
		<tr>
			<td><%= invite.email %></td>
			<td><%= link_to 'Accept', '/friends/accept/' + String(invite.id) %></td>
		</tr>
	<% end %>
</table>
