<!DOCTYPE html>
<html>
  <head>
    <title>PlylstIt</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav>
      <div class="link-left"><a href="/discover">Discover</a></div>
      <div class="link-left"><a href="/friends">Friends</a></div>

      <% if user_signed_in? %>
        <div class="link-right"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></div>
        <div class="link-right"><%= link_to('Edit Account', edit_user_registration_path) %></div>
        <div class="link-right"><%= link_to('My Playlists', my_playlists_path) %></div>
        <div class="link-right"><%= link_to('Add Song', add_songs_path) %></div>
      <% else %>
        <div class="link-right"><%= link_to('Login', new_user_session_path) %></div>
        <div class="link-right"><%= link_to('Register', new_user_registration_path) %></div>
      <% end %>
    </nav>
      <!-- TODO Style notice and alert-->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
