<!DOCTYPE html>
<html>
  <head>
    <title>PlylstIt</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav>
      <div class="link-left"><a href="/">Home</a></div>
      <div class="link-left"><a href="/discover">Discover</a></div>
      <div class="link-left"><a href="/friends">Friends</a></div>

      <div class="link-right"><a href="/logout">Logout</a></div>
      <div class="link-right"><a href="/my-playlists">My Playlists</a></div>
      <div class="link-right"><a href="/songs/add">Add Song</a></div>
    </nav>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
